# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
backend/*.log
backend/local_settings.py
backend/db.sqlite3
backend/db.sqlite3-journal
backend/media/
backend/static/

# Frontend stuff:
frontend/node_modules
frontend/dist
frontend/.svelte-kit

# Environments
venv/

# Editors
*.swp
.idea/

# macOS
.DS_Store
